h1{
  background-color: #cfdef7;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
}

h2{
  font-size: 1.25em;
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
}

p {
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}

hr{
  width: 75%;
  height: 4px;
  border: 1px solid black;

}
ul{
padding: 0px 20px 0px 40px;
}

li{
  font-size: 1em;
  font-family: sans-serif;
  text-align: left;
  padding: 0px 0px 0px 5px;
}

#wrapper{

  border: 0px solid grey;
  width: 830px;

}

#youTube{
display: block;
margin: auto;

}
