body{
 border: .25em solid black;
 margin: 1%;
 border-radius: 5px;
 padding: 1%;
 padding-bottom: 2%;
}

.col{
  border: 1px solid red;
}

.row{
  border: 1px solid blue;
}

h1{
  font-family: 'Francois One', sans-serif;
}

img {
    width: 25%;
    height: auto;
}

.clsSlick{

}

.navbar-nav {
  text-align:center;
  float:none;
}
  .navbar-nav li {
      display:inline-block;
      float:none;

  }

#navcontainer ol{
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


#navcontainer ol li {
  display: inline;
  margin-left: auto;
}

.clsContainer{
margin:auto;
padding: 2%;

}

.clsTabPage{
  margin-left: 1em;
}

.clsFish{
  border:4px solid #2387B9;
  overflow-y:hidden;
  overflow-x:scroll;
  overflow: scroll;
  height:200px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.clsThumbNail{
  max-height: 165px;
  max-width: 165px;
  width: 300px;
  height: 300px;

}

header{
  background-color: lightgrey;
  padding: .25em;
  border-radius: .5em;
  margin: auto;
  text-align: center;
}
main{
  margin: auto;
  padding: 5px;
background: white;

}

old_footer{
    position: fixed;
    width: 75%;
    height: 25px;
    bottom: 0;
    z-index: 6;
    background: lightgrey;
}
old_footer .wrap{
    margin: 10px auto;

}


footer{
  height:2px;
  background: lightgrey;
  padding: 2px;
  width: 75%;
  margin: auto;
}
